* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background: #bd3039;
  height: 80px;
  width: 100%;
  overflow: hidden;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 10px 50px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 7px;
  text-transform: uppercase;
}

a.acitve,
a:hover {
  background: #3d3d3d;
  transition: 0.5s;
}

.slider {
  min-width: 100%;
  height: 500px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 4s;
}

.slide img {
  width: 100%;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  margin-left: 28vw;
}
.manual-btn {
  border: 2px solid rgb(252, 74, 74);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;

}
.manual-btn:not(:last-child) {
  margin-right: 30px;
}
.manual-btn:hover {
  background-color: red;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  margin-left: 28vw;
}

.navigation-auto div {
  border: 2px solid #bd3039;
  padding: 5px;
  border-radius: 10px;
  transition: .5s;
}
.navigation-auto div:not(:last-child){
  margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #bd3039;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #bd3039;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #bd3039;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #bd3039;
}
.introduction {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: -20px;
  padding: 20px 0;
  max-width: auto;
}
.introduction h1 {
  font-size: 2em;
  font-weight: bolder;
  margin-right: auto;
  margin-left: auto;
}
.introduction h1 p {
  font-weight: lighter;
}
.offer-container {
  display: flex;
  font-size: 16px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 100px;
}

.offer1 i,
.offer2 i,
.offer3 i {
  font-size: 40px;
  display: flex;
  margin-left: 45%;
}

.offer-container div h3,
.offer-container div p {
  text-align: center;
  width: 30vw;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: #3a3434dc;
  backdrop-filter: blur(10px);
}
.contact {
  display: flex;
  flex-basis: 30%;
  gap: 6em;
}

.contact h2 {
  font-size: 40px;
  color: #ededed;
  text-align: center;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.contact form {
  
  text-align: center;
  height: 53vh;
}
.contact-img img {
  height: 40vh;
  border-radius: 45%;
}
.contact-img ul {
  text-align: center;
}
.contact1 h2 {
  text-align: center;
}
form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  padding: 18px;
  background: transparent;
  border: 2px solid red;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}

.field .item::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.field .error-txt {
  font-size: 14.5px;
  color: green;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

form .textarea-field .error-txt {
  margin-top: -10px;
}

form .textarea-field .item {
  resize: none;
}

form button {
  padding: 10px 32px;
  background: #f03f47;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 12px 8px #0f0000;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 15px;
}

form button:hover {
  box-shadow: none;
}

.google-space {
  background-image: url(Google.png);
  border: 3px solid rgb(252, 74, 74);
  width: auto;
  height: 50vh;
  color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.google-information {
  border: 3px solid black;
  height: 65%;
  backdrop-filter: blur(15px);
  background-color: transparent;
  display: block;
}

.google-information h3 {
  text-align: center;
  color: red;
  text-decoration: underline;
  margin-bottom: 10px;
}

.google-information ul {
  margin: 30px 20px 30px 0;
  font-size: 1.2rem;
}
.google-information ul i {
  font-size: 1.5rem;
}

.footer {
  border: 3px solid black;
  background: #6d1006;
  height: 30vh;
  display: flex;
  color: white;
}
.footer div img {
  flex-basis: 33%;
}
.logo-footer img {
  width: 150px;
  height: 150px;
}
.contact-list {
  text-align: center;
  width: 50%;
}
